# Archivos compilados y builds
target/
build/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
!gradlew
!gradlew.bat

# Java compilados
*.class
*.jar
*.war
*.ear
*.nar

# Logs y temporales
*.log
logs/
*.tmp
hs_err_pid*
replay_pid*

# IDEs
# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
.factorypath

# Spring Tool Suite
.springBeans
.sts4-cache

# Otros
.DS_Store
Thumbs.db